<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.openwords"
          android:versionCode="1"
          android:versionName="1.0">
    
    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <supports-screens android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true"/> 

    <application android:allowBackup="true"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:name="com.orm.SugarApp">
        
        <meta-data android:name="DATABASE" android:value="openwords_v1.db" />
        <meta-data android:name="VERSION" android:value="6" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.openwords.model" />
        
        <activity android:name=".ui.main.LoginPage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.main.WelcomePage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.main.HomePage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.other.NextWords"
                  android:label="@string/title_activity_NextWords"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.other.ProfilePage"
                  android:label="@string/title_activity_profilePage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.main.RegisterPage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.main.LanguagePage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity android:name=".ui.main.ChosenPage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.main.WordsPage"
                  android:label="@string/title_activity_wordsPage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.main.StatsPage"
                  android:label="@string/title_activity_statsPage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.main.PortalPage"
                  android:label="@string/title_activity_portalPage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
               
        <activity android:name=".ui.other.SettingsPage"
                  android:label="@string/title_activity_settingsPage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.other.TutorialPage"
                  android:label="@string/title_activity_tutorial_page"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".learningmodule.ActivityLM"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".learningmodule.ActivityLearning"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".test.ActivityTest"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".test.DialogSoundPlay"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".test.DialogSoundPlay2"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".test.ActivityTestAutofix"
                  android:theme="@android:style/Theme.Holo"
                  android:configChanges="orientation|screenSize">
        </activity>
        
        <activity android:name=".ui.main.LocalOptionPage"
                  android:theme="@style/NoTitleTheme"
                  android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>
