<div class="page-content with-subnavbar">
    <div class="content-block">
        <button ng-click="test()">Change</button>
        <div class="list-block cards-list">
            <ul>
                <li class="card demo-card-header-pic" ng-repeat="c in course.list">
                    <div data-background="{{c.fileCover}}"
                         valign="bottom" 
                         class="card-header color-white no-border lazy lazy-fadeIn">{{c.name}}</div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">{{c.updated}}</p>
                            <p>{{c.comment}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="link" ng-click="goToCourseContent(c)">Learn</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

